#places-list

  %input.search
  %span.sort{ 'data-sort' => 'place' } Sort by place
  %span.sort{ 'data-sort' => 'visits' } Sort by visits
  %span.sort{ 'data-sort' => 'duration' } Sort by duration
  %span.sort{ 'data-sort' => 'median' } Sort by median
  %span.sort{ 'data-sort' => 'average' } Sort by average

  %ul.list
    - @places.each do |place, visits, duration, median, average|
      %li
        %span.place= place
        %span.visits{ 'data-visits' => "#{visits}" }= visits
        %span.duration{ 'data-duration' => "#{duration}" }= distance_of_time_in_words duration
        %span.median{ 'data-median' => "#{median}" }= distance_of_time_in_words median
        %span.average{ 'data-average' => "#{average}" }= distance_of_time_in_words average
