#places-list
  %input.search{ 'placeholder' => 'Search for any parameter' }
  %ul.headers
    %li
      %span.sort{ 'data-sort' => 'place' } Place
      %span.sort{ 'data-sort' => 'visits' } Visits
      %span.sort{ 'data-sort' => 'duration' } Duration
      %span.sort{ 'data-sort' => 'median' } Median
      %span.sort{ 'data-sort' => 'average' } Average
  %ul.list
    - @places.each do |place, visits, duration, median, average|
      %li
        %span.place= place
        %span.visits{ 'data-visits' => "#{visits}" }= visits
        %span.duration{ 'data-duration' => "#{duration}" }= distance_of_time_in_words duration
        %span.median{ 'data-median' => "#{median}" }= distance_of_time_in_words median
        %span.average{ 'data-average' => "#{average}" }= distance_of_time_in_words average
