.mapinfo
  %p
    %strong= @place.name

  - if @coming_from['count'] <= 1
    %p You never came from the same place twice
  - else
    %p= "Most commonly coming from \"#{@coming_from['place']}\""

  - if @left_for['count'] <= 1
    %p You never left for the same place twice
  - else
    %p= "Most commonly left for \"#{@left_for['place']}\""

.gmap{ 'data-gmap' => 'true',
       'data-lat' => @place.latitude,
       'data-long' => @place.longitude }
